## Flox Environment Manifest -----------------------------------------
##
##   _Everything_ you need to know about the _manifest_ is here:
##
##               https://flox.dev/docs/concepts/manifest
##
## -------------------------------------------------------------------
# Flox manifest version managed by Flox CLI
version = 1


## Install Packages --------------------------------------------------
##  $ flox install gum  <- puts a package in [install] section below
##  $ flox search gum   <- search for a package
##  $ flox show gum     <- show all versions of a package
## -------------------------------------------------------------------
[install]
go.pkg-path = "go"
nodejs.pkg-path = "nodejs"  # For Tailwind CSS CLI
postgresql.pkg-path = "postgresql"
# gum.pkg-path = "gum"
# gum.version = "^0.14.5"


## Environment Variables ---------------------------------------------
##  ... available for use in the activated environment
##      as well as [hook], [profile] scripts and [services] below.
## -------------------------------------------------------------------
[vars]
PGDATA = "$FLOX_ENV_CACHE/postgres"
PGHOST = "$FLOX_ENV_CACHE/postgres"
# INTRO_MESSAGE = "It's gettin' Flox in here"


## Activation Hook ---------------------------------------------------
##  ... run by _bash_ shell when you run 'flox activate'.
## -------------------------------------------------------------------
[hook]
on-activate = '''
  # Initialize PostgreSQL data directory if it doesn't exist
  if [ ! -d "$PGDATA" ]; then
    echo "Initializing PostgreSQL database..."
    initdb -D "$PGDATA" --username=postgres --pwfile=<(echo "postgres")
  fi

  # Install Go tools if not already installed
  export PATH="$HOME/go/bin:$PATH"

  if ! command -v templ &> /dev/null; then
    echo "Installing templ..."
    go install github.com/a-h/templ/cmd/templ@latest
  fi

  if ! command -v sqlc &> /dev/null; then
    echo "Installing sqlc..."
    go install github.com/sqlc-dev/sqlc/cmd/sqlc@latest
  fi
'''


## Profile script ----------------------------------------------------
## ... sourced by _your shell_ when you run 'flox activate'.
## -------------------------------------------------------------------
[profile]
common = '''
  export PATH="$HOME/go/bin:$PATH"
'''
## Shell specific profiles go here:
# bash = ...
# zsh  = ...
# fish = ...


## Services ----------------------------------------------------------
##  $ flox services start             <- Starts all services
##  $ flox services status            <- Status of running services
##  $ flox activate --start-services  <- Activates & starts all
## -------------------------------------------------------------------
[services]
postgres.command = "postgres -k $PGHOST"


## Other Environment Options -----------------------------------------
[options]
# Systems that environment is compatible with
systems = [
  "aarch64-darwin",
  "aarch64-linux",
  "x86_64-darwin",
  "x86_64-linux",
]
# Uncomment to disable CUDA detection.
# cuda-detection = false
